<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Endo Run</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/nav.css" />
    <link rel="stylesheet" href="./css/content.css" />
    <link rel="stylesheet" href="./css/footer.css" />
  </head>
  <body>
    <nav>
      <a href="https://endometriozismagyarorszag.hu/"
        ><img class="logo" src="./assets/images/logo.svg" alt="logo"
      /></a>
    </nav>
    <section class="content">
      <div class="reg-i"></div>
      <div class="description">
        <p>Köszönjük, hogy támogatja alapítványunkat!</p>
      </div>
      <div class="box">
        <h2>Nevezés</h2>
        <form id="reg-f">
          <input
            type="text"
            id="username"
            placeholder="Felhasználónév"
            autocomplete="off"
            required="required"
          />
          <input
            id="email"
            type="email"
            placeholder="Email cím"
            autocomplete="off"
            required="required"
          />
          <input
            type="password"
            id="password"
            placeholder="Jelszó"
            autocomplete="off"
            required="required"
          />
          <div class="result">
            <h3>Eredmény</h3>
            <div class="result-inner">
              <div class="time">
                <input
                  id="hour"
                  type="number"
                  placeholder="h"
                  autocomplete="off"
                  required="required"
                />
                <p>:</p>
                <input
                  id="minute"
                  type="number"
                  placeholder="min"
                  autocomplete="off"
                  required="required"
                />
              </div>
              <div class="distance-holder">
                <input
                  id="distance"
                  type="number"
                  placeholder="Távolság"
                  autocomplete="off"
                  required="required"
                />
                <p>méter</p>
              </div>
            </div>
          </div>
          <input type="submit" class="submit-button" value="Tovább" />
        </form>
        <div>
          <h4>Vagy jelentkezz be <a href="/login">itt</a></h4>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-content">
        <p>Endometriózis Magyarország 2022. | Minden jog fenntartva.</p>
        <p>Készítette Bokor Apor, Lestár Patrik</p>
      </div>
    </footer>

    <script>
      const form = document.getElementById("reg-f");
      form.addEventListener("submit", register_user);
      async function register_user(event) {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const hour = document.getElementById("hour").value;
        const minute = document.getElementById("minute").value;
        const distance = document.getElementById("distance").value;

        const result = await fetch("/api/register", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username,
            email,
            password,
            hour,
            minute,
            distance,
          }),
        }).then((res) => res.json());
        if (result.status == "ok") {
          alert("success");
          window.open("/login");
        } else alert(result.error);
      }
    </script>
  </body>
</html>
