.content {
  font-size: 0;
  width: 100%;
  height: calc(100vh - 4rem);
  position: relative;
}

.login-i,
.reg-i {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-i {
  background-image: url(../assets/images/running-woman-2.jpg);
}

.reg-i {
  background-image: url(../assets/images/running-woman.jpg);
}
.registration,
.login {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5rem;
  width: 32rem;
  height: 32rem;
  box-shadow: 0 0 10px var(--shadow-color);
  animation-name: registration;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes registration {
  0% {
    top: -35rem;
  }
  100% {
    top: 50%;
  }
}

.description {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--dark-gray);
  line-height: 1.3rem;
  text-align: center;
  position: absolute;
  top: 3rem;
  left: -3rem;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: var(--yellow);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  box-shadow: 0 0 10px var(--shadow-color);
  animation-name: description;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes description {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  50% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.description p {
  width: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-registration,
.inner-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-registration h2,
.inner-login h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.inner-registration input,
.inner-login input {
  margin-bottom: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 2rem;
  outline: none;
  border: 1px solid var(--light-gray);
  border-radius: 10rem;
  padding: 0 1rem;
  font-size: 1rem;
  transition: 0.2s;
}

.inner-registration input:focus,
.inner-login input:focus {
  border: 1px solid var(--dark-gray);
}

.result {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 16rem;
}

.result h3 {
  font-size: 1.5rem;
  margin: -0.4rem 0 0.3rem;
  text-align: center;
}

.result p {
  font-size: 1rem;
  display: inline-block;
}

input#distance,
input#minute,
input#hour {
  margin: 0;
  padding: 0;
  transform: none;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

input#distance:focus,
input#minute:focus,
input#second:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

input#minute,
input#hour {
  width: 3rem;
}

input#distance {
  margin-left: 1rem;
  width: 5rem;
}

input.next {
  background-color: var(--yellow);
  border-radius: 10rem;
  border: 2px solid var(--yellow);
  color: var(--dark-gray);
  width: 7rem;
  height: 2rem;
  outline: none;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}

input.next:hover {
  background-color: white;
}
