.content {
  font-size: 0;
  width: 100%;
  height: calc(100vh - 4rem);
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/running-woman.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5rem;
  width: 32rem;
  height: 32rem;
  box-shadow: 0 0 10px var(--shadow-color);
  animation-name: registration;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes result {
  0% {
    top: -35rem;
  }
  100% {
    top: 50%;
  }
}

.inner-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.result h3 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0.5rem 0 2rem;
  background-color: var(--yellow);
  padding: 0.5rem 0;
  border-radius: 1rem;
}

.result p {
  font-size: 1.3rem;
}

#confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  pointer-events: none;
}
